button
  display: inline-block
  line-height: 1
  white-space: nowrap
  cursor: pointer
  border: 1px solid
  appearance: none
  text-align: center
  box-sizing: border-box
  outline: none
  margin: 0
  transition: .1s
  font-weight: 500
  user-select: none
  padding: 12px 20px
  font-size: 14px
  border-radius: 4px
button.button-primary
  color: #fff
  background-color: #409eff
  border-color: #409eff
  &:hover
    background: #66b1ff
    border-color: #66b1ff
    color: #fff
  &:active
    background: #3a8ee6
    border-color: #3a8ee6
    color: #fff
button.button-default
  background: #FFFFFF
  border: 1px solid #DCDFE6
  color: #606266
  &:hover
    color: #409EFF;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  &:active
    color: #3a8ee6;
    border-color: #3a8ee6;
    outline: none;

